* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, monospace;
    background-color: #526D82;
    color: #DDE6ED;
}
.compiler{
    background-color: white;
    width:100%;
    height: 100%;
    border-radius: 10px;
    border-style: solid;
    font-family: 'Times New Roman';
}
.image{
    width: 100%;
    max-width: 500px;
    height: auto;
}
.iconButton{
    background-color: #9DB2BF;
    border: none;
    color: #27374D;
    padding-top:7px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
}
.button{
    background-color: #9DB2BF;
    border: none;
    color: #27374D;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.checkbox{
    accent-color: #609966;
}
.editor{
    resize: none;
    height: 500px;
    width: 100%;
    background-color: #27374D;
    font-family: "Courier New", monospace;
    color: #DDE6ED;
}
.copyString{
    font-size: 16px;
    background-color: #27374D;
    color: #DDE6ED;
}
.center{
    text-align: center;
    margin: 0 auto;
}
.sameRow{
    display: inline-block;
/*    float: left;*/
    margin: 20px;
    width: 40%;
}
@media screen and (max-width: 800px) {
    .sameRow{
        width: 90%;
    }
}