* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
body{
    font-family: Arial, sans-serif;
    background-color: #331D2C;
    color: #EFE1D1;
}
.compiler{
    background-color: white;
    width:100%;
    height: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    font-family: 'Times New Roman';
    padding: 20px;
}
.image{
    width: 100%;
    max-width: 500px;
    height: auto;
}
.button{
    background-color: #3F2E3E;
    border: none;
    border-radius: 5px;
    color: #EFE1D1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.checkbox{
    accent-color: #EFE1D1;
}
.editor{
    border-radius: 5px;
    border-style: solid;
    border-color: #EFE1D1;
    border-width: 4px;
    letter-spacing: 3px;
    line-height: 24px;
    resize: none;
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: #3F2E3E;
    font-family: Monaco, "Courier New", monospace;
    color: #EFE1D1;
}
.copyString{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #3F2E3E;
    color: #EFE1D1;
}
.center{
    height: 700px;
    text-align: center;
    margin: 0 auto;
}
.sameRow{
    display: inline-block;
    margin: 40px;
    height: 100%;
    width: 40%;
}
@media screen and (max-width: 800px) {
    .sameRow{
        width: 90%;
    }
}
