<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>QRify</title>
    </head>
    <header>
         <h1>QRify</h1>
    </header>
    <p>Fit your website in a QR code</p>
    <form action="/create/html" method="post">
        <label for="file">Enter your .html code below:</label><br>
        <textarea type="text" id="file" name="file" rows="20" cols="100" placeholder="Enter code here..."></textarea><br>
        <label for="encodeSelect">Select the encoding type:</label>
        <select id="encodeSelect" name="encodeSelect">
            <option value="optimal">Optimal</option>
            <option value="base64">Base 64</option>
            <option value="url">URL-Encode</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>
</html>