<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRify</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body onload="compile('file','output');">
        <form action="/post" method="post" id="QRform">
            <label for="encodeSelect">Select the encoding type:</label>
            <select id="encodeSelect" name="encodeSelect">
                <option value="optimal">Optimal</option>
                <option value="base64">Base 64</option>
                <option value="url">URL-Encode</option>
            </select><br>
            <input type="checkbox" id="min" name="min" value="min" class="checkbox">
            <label for="min">Minimize HTML</label><br>
            <input type="submit" value="Create" class="button">
        </form>
    <div class="center">
        <div class="sameRow"><textarea form="QRform" class="editor" oninput="compile('file','output');" type="text" id="file" name="file" >...</textarea></div>
        <div class="sameRow">
            <iframe id="output" class="compiler"></iframe>   
        </div>
    </div>
    <script src="{{url_for('static',filename='compiler.js')}}" defer></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>
